$fond-clair: #ffffff;
$fond-medium:#fafafa;
$fond-fonce: #525252;
$fond-medium-fonce: #f0f0f0;
$couleur-font-claire:#ffffff;
$couleur-font-sombre:#474747;
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire:#99E2D0;
$hauteur-header: 60px;
$font-regular: 400;
$font-bold: 700;
$font-medium:600;

@mixin card-shadow{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
}
@mixin button{
    width: fit-content;
    min-width: 150px;
    margin: auto;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    text-align: center;
    background: rgb(147,86,220);
    background: linear-gradient(170deg, $couleur-secondaire 0%, $couleur-primaire 100%);
    color: $couleur-font-claire ;
    font-weight: 500;
    font-size: 100%;
}

@mixin flex-vertical{
    display:flex;
    flex-direction: column;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin center-background{
    background-position: center;
    background-size:cover;
}

@mixin rotation-check{
    transform: translate(-50%,-50%) rotate(360deg);
    left: 50%;
}

html{
    font-family: 'Roboto', sans-serif;
    font-weight: $font-medium;
    margin:0;
}
body{
    margin:0;
    padding:0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.general-container{
    width:100%;
    max-width: 767px;
    margin: auto;
    background-color: $fond-medium;
}
/*fin du css général de la page*/
#accueil{
    display: contents;
}

#menu1{
    display: none;
}

.logo{ /*la classe logo est utilisée pour les headers de accueil des des menus*/
    text-align: center;
    height: $hauteur-header;
    vertical-align: middle;
    line-height: $hauteur-header;
    @include card-shadow;
    background-color: $fond-clair;
    z-index: 2;
    & img{
        vertical-align: middle;
        line-height: $hauteur-header;
    }
    &__back-link{
        float: left;
        position: relative;
        left: 6%;
        font-size: 120%;
    }
    &__logo{
        position: relative;
        right: 5px;
    }
}

.location{
    text-align: center;
    color: $couleur-font-sombre;
    background-color: $fond-medium-fonce;
    height: $hauteur-header;
    vertical-align: middle;
    line-height: $hauteur-header;
    font-size: small;
    position:relative;
    z-index:1;
}

/*fin du css pour le header*/

.intro{
    @include flex-vertical;
    justify-content: space-around;
    background-color:$fond-medium;
    &__heading{
        text-align: center;
        font-weight: 900;
        font-size: 140%;
        padding-left: 15%;
        padding-right: 15%;
    }
    &__description{
        text-align: center;
        font-weight: 450;
        padding-left: 5%;
        padding-right: 5%;
    }
    &__button{
        @include button;
        @include card-shadow;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
/* fin du css pour l'intro*/

.fonctionnement{
    padding-left: 10px;
}

.list{
    list-style: none;
    padding: 10px;
    &__item{
        @include card-shadow;
        width: 90%;
        margin: auto;
        background-color: $fond-clair;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 30px;
        &--puce{
            background-color: $couleur-primaire;
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: 1.5rem;
            color: $couleur-font-claire;
            font-weight: $font-regular;
        }
        &--icone{
            color: $fond-fonce;
            font-size: 120%;
        }
        &--push-left{
            display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        right: 30px;
            & >*{
            margin-right: 10%;
            }
        }
    }
}

.push-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 30px;
    & >*{
        margin-right: 10%;
    }
}
/*fin du css pour la section fonctionnement*/

main{
    margin-left: 3%;
    margin-right: 3%;
}

.carte{
    @include flex-vertical;
    justify-content: space-between;
    height: 100%;
    border-radius: 18px;
    margin-bottom: 3em;
    background-color: $fond-clair;
    overflow: auto;
    transition: all 0.3s;
    @include card-shadow;
    &__photo{
        margin-left: 0;
        border-radius: 18px 18px 0 0;
        height: 160px;
        overflow: hidden;
        @include center-background;
    }
    &__texte{
        margin-left: 1.5%;
        height: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 110%;
        &--float-right{
            float: right;
            position: relative;
            right: 20px;
            top: 10px;
            font-size: 120%;
        }
        &--bold{
            font-weight: $font-bold;
        }
        &--regular{
            margin-top: 10px;
            font-weight: $font-regular;
        }        
    }
}

.nouveau{
    float: right;
    padding: 8px 10px 8px 10px;
    background-color: $couleur-tertiaire;
    color: #009c58;
    position: relative;
    top: 15px;
    right: 5%;
    border-radius: 2px;
    font-size: 80%;
    font-weight: $font-medium;
}

/* fin du css pour la section main*/

.footer{
    background-color: $fond-fonce;
    color: $couleur-font-claire;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    &__h2{
        font-family: 'Shrikhand', cursive;
        font-weight: 200;
        font-size: 120%;
    }
    &__liste{
        list-style: none;
        padding-left: 0;
        & li{
        margin-bottom: 10px;
        font-weight: $font-regular;
        display: flex;
            & i{
                width: 30px;
            }
        }
    }
}

.menu-img{
    height: 300px;
    width: 100%;
    @include center-background;
}

.carte-menu{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 18px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.24);
    margin-bottom: 15px;
    background-color:$fond-clair;
    overflow: hidden;
    &__texte{
        display: flex;
        flex: 2 2 auto;
        flex-direction: column;
        padding: 15px;
        &:hover + .carte-menu__anim{
            width: 20%;
            @media (min-width:768px) {
                width: 12%;
            }
            & i{
                @include rotation-check;
            }
        }
    }
    &__ligne-basse{
        @include flex-between;
        align-items: center;
        &--regular{
            font-weight: $font-regular;
            width: 0px;
            flex: 1 1 auto;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &--prix{
            align-self: flex-end;
        }
    }
    & h4{
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__anim{
        width: 0%;
        background-color: $couleur-tertiaire;
        color: $couleur-font-claire;
        transition: all 400ms ease-in-out;
        vertical-align: middle;
        & i {
            transform: translate(-50%,-50%) rotate(0deg);
            position: relative;
            top: 50%;
            left: 50px;
            border: 6px solid $couleur-font-claire;
            background-color: $couleur-font-claire;
            color: $couleur-tertiaire;
            border-radius: 50%;
            transition: all 400ms ease-in-out;
        }
        &:hover{
            width:20%;
            @media (min-width:768px) {
                width: 12%;
            }
            & i{
                @include rotation-check;
            }
        }
    }
}
/*fin du css pour les cartes-menu*/



.menu-main{
    border-radius: 34px 34px 0 0;
    padding-left: 3%;
    padding-right: 3%;
    background-color:$fond-medium;
    position:relative;
    bottom: 60px;
    height: fit-content;
    &__titre{
        font-family: 'Shrikhand', cursive;
        font-weight: $font-regular;
        @include flex-between;
        padding-top: 40px;
        font-size: 180%;
        & .fa-heart{
            margin-right: 20px;
        }
    }
    &__sous-titre{
        font-weight: $font-regular;
        margin-bottom: 4px;
    }
    &__spacer{
        height: 2px;
        width: 40px;
        background-color:$couleur-tertiaire;
        margin: 0;
    }
    &__liste{
        padding-left:0;
    }
    &__button{
        @include button;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}


