@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.general-container {
  width: 100%;
  max-width: 767px;
  margin: auto;
  background-color: #fafafa;
  animation: fade-in 400ms ease-in-out both;
  animation-delay: 800ms;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*fin du css général de la page*/
#accueil {
  display: contents;
  animation: fade-in 400ms ease-in-out both;
}

#menu1 {
  display: none;
}

/* propriétés pour afficher les icones coeurs animées*/
.outer-heart {
  z-index: 3;
  transition: color 300ms, transform 150ms;
}
.outer-heart:hover {
  color: #663057;
  cursor: pointer;
}
.outer-heart:hover + .inside-heart {
  color: #FF79DA;
  filter: drop-shadow(0px 0px 5px rgba(255, 121, 218, 0.8));
}
.outer-heart:active {
  transform: scale(1.2);
}
.outer-heart:active + .inside-heart {
  transform: scale(1.2);
}

.inside-heart {
  color: rgba(255, 121, 218, 0);
  z-index: 2;
  transition: color 300ms, transform 150ms;
}

.logo {
  /*la classe logo est utilisée pour les headers de accueil des des menus*/
  text-align: center;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  z-index: 2;
}
.logo img {
  vertical-align: middle;
  line-height: 60px;
}
.logo__back-link {
  float: left;
  position: relative;
  left: 6%;
  font-size: 120%;
}
.logo__logo {
  position: relative;
  right: 5px;
}

.location {
  text-align: center;
  color: #474747;
  background-color: #f0f0f0;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  font-size: small;
  position: relative;
  z-index: 1;
}

/*fin du css pour le header*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fafafa;
}
.intro__heading {
  text-align: center;
  font-weight: 900;
  font-size: 140%;
  padding-left: 15%;
  padding-right: 15%;
}
.intro__description {
  text-align: center;
  font-weight: 450;
  padding-left: 5%;
  padding-right: 5%;
}
.intro__button {
  max-width: 50%;
  width: fit-content;
  min-width: 150px;
  margin: auto;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  text-align: center;
  background: #9356dc;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color: #ffffff;
  font-weight: 500;
  font-size: 100%;
  transition: all 150ms;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-bottom: 40px;
}
.intro__button:active {
  transform: scale(1.2);
}

/* fin du css pour l'intro*/
.fonctionnement {
  padding-left: 10px;
  animation: slide-in-bottom 400ms ease-in-out both;
}

.list {
  list-style: none;
  padding: 10px;
}
.list__item {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: all 200ms;
}
.list__item--puce {
  background-color: #9356DC;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5rem;
  color: #ffffff;
  font-weight: 400;
}
.list__item--icone {
  color: #525252;
  font-size: 120%;
}
.list__item--push-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 30px;
}
.list__item--push-left > * {
  margin-right: 10%;
}
.list__item:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.push-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 30px;
}
.push-left > * {
  margin-right: 10%;
}

/*fin du css pour la section fonctionnement*/
main {
  margin-left: 3%;
  margin-right: 3%;
}

.carte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 18px;
  margin-bottom: 3em;
  background-color: #ffffff;
  overflow: auto;
  transition: all 0.3s;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  animation: slide-in-bottom 400ms ease-in-out both;
}
.carte__photo {
  margin-left: 0;
  border-radius: 18px 18px 0 0;
  height: 160px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.carte__texte {
  margin-left: 1.5%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 110%;
}
.carte__texte--float-right {
  float: right;
  position: relative;
  right: 20px;
  font-size: 120%;
}
.carte__texte--bold {
  font-weight: 700;
}
.carte__texte--regular {
  margin-top: 10px;
  font-weight: 400;
}

.nouveau {
  float: right;
  padding: 8px 10px 8px 10px;
  background-color: #99E2D0;
  color: #009c58;
  position: relative;
  top: 15px;
  right: 5%;
  border-radius: 2px;
  font-size: 80%;
  font-weight: 600;
}

/* fin du css pour la section main*/
.footer {
  background-color: #525252;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}
.footer__h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  font-size: 120%;
}
.footer__liste {
  list-style: none;
  padding-left: 0;
}
.footer__liste li {
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
}
.footer__liste li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__liste li i {
  width: 30px;
}

.menu-img {
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.carte-menu {
  animation: slide-in-bottom 400ms ease-in-out both;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 18px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 15px;
  background-color: #ffffff;
  overflow: hidden;
}
.carte-menu__texte {
  display: flex;
  flex: 2 2 auto;
  flex-direction: column;
  padding: 15px;
}
.carte-menu__texte:hover + .carte-menu__anim {
  width: 20%;
}
@media (min-width: 768px) {
  .carte-menu__texte:hover + .carte-menu__anim {
    width: 12%;
  }
}
.carte-menu__texte:hover + .carte-menu__anim i {
  transform: translate(-50%, -50%) rotate(360deg);
  left: 50%;
}
.carte-menu__ligne-basse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte-menu__ligne-basse--regular {
  font-weight: 400;
  width: 0px;
  /*étrangement, pour que la largeur de --regular s'adapte au contenu avec white-space: nowrap, ça ne marche qu'avec n'importe quelle valeur absolue arbitraire ici*/
  flex: 1 1 auto;
  overflow-x: hidden;
  /*ici, l'overflow texte est transformé en "..."*/
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .carte-menu__ligne-basse--regular {
    font-size: 90%;
  }
}
.carte-menu__ligne-basse--prix {
  align-self: flex-end;
  /*positionne le prix en bas de son conteneur*/
}
.carte-menu h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.carte-menu__anim {
  width: 0%;
  background-color: #99E2D0;
  color: #ffffff;
  transition: all 400ms ease-in-out;
  vertical-align: middle;
}
.carte-menu__anim i {
  transform: translate(-50%, -50%) rotate(0deg);
  position: relative;
  top: 50%;
  left: 50px;
  border: 6px solid #ffffff;
  background-color: #ffffff;
  color: #99E2D0;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}
.carte-menu__anim:hover {
  width: 20%;
}
@media (min-width: 768px) {
  .carte-menu__anim:hover {
    width: 12%;
  }
}
.carte-menu__anim:hover i {
  transform: translate(-50%, -50%) rotate(360deg);
  left: 50%;
}

.animation-delay1 {
  animation-delay: 150ms;
  /* des classes pour ajouter un délai de déclenchement d'animation de fade-in/slide-in */
}

.animation-delay2 {
  animation-delay: 300ms;
}

/*fin du css pour les cartes-menu*/
.menu-main {
  border-radius: 34px 34px 0 0;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #fafafa;
  position: relative;
  bottom: 60px;
  height: fit-content;
}
.menu-main__titre {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 180%;
}
.menu-main__titre .fa-heart {
  margin-right: 20px;
}
.menu-main__sous-titre {
  font-weight: 400;
  margin-bottom: 4px;
}
.menu-main__spacer {
  height: 2px;
  width: 40px;
  background-color: #99E2D0;
  margin: 0;
}
.menu-main__liste {
  padding-left: 0;
}
.menu-main__button {
  max-width: 50%;
  width: fit-content;
  min-width: 150px;
  margin: auto;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  text-align: center;
  background: #9356dc;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color: #ffffff;
  font-weight: 500;
  font-size: 100%;
  transition: all 150ms;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 30px;
}
.menu-main__button:active {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
