$fond-clair: #ffffff;
$fond-medium:#fafafa;
$fond-fonce: #525252;
$fond-medium-fonce: #f0f0f0;
$couleur-font-claire:#ffffff;
$couleur-font-sombre:#474747;
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire:#99E2D0;
$hauteur-header: 60px;
$delai-apparition-accueil: 1500ms;
