.general-container{
    width:100%;
    max-width: 767px;
    margin: auto;
    background-color: $fond-medium;
}


/*début du css pour le header*/
.logo{ /*la classe logo est utilisée pour les headers de accueil des des menus*/
    text-align: center;
    height: $hauteur-header;
    vertical-align: middle;
    line-height: $hauteur-header;
    @include card-shadow;
    background-color: $fond-clair;
    z-index: 2;
    & img{
        vertical-align: middle;
        line-height: $hauteur-header;
    }
    &__back-link{
        float: left;
        position: relative;
        left: 6%;
        font-size: 120%;
    }
    &__logo{
        position: relative;
        right: 5px;
    }
}

.location{
    text-align: center;
    color: $couleur-font-sombre;
    background-color: $fond-medium-fonce;
    height: $hauteur-header;
    vertical-align: middle;
    line-height: $hauteur-header;
    font-size: small;
    position:relative;
    z-index:1;
}

/* fin du css pour le header*/

.intro{
    @include flex-vertical;
    justify-content: space-around;
    background-color:$fond-medium;
    &__heading{
        text-align: center;
        font-weight: 900;
        font-size: 140%;
        padding-left: 15%;
        padding-right: 15%;
    }
    &__description{
        text-align: center;
        font-weight: $font-regular;
        padding-left: 5%;
        padding-right: 5%;
    }
    &__button{
        @include button;
        @include card-shadow;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
/* début du code de la section fonctionnement*/
.fonctionnement{
    padding-left: 10px;
    padding-right: 5px;
    @include slide-in-bottom;
}

.list{
    list-style: none;
    padding: 10px;
    &__item{
        @include card-shadow;
        width: 90%;
        margin: auto;
        background-color: $fond-clair;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 30px;
        transition: all 200ms;
        &--puce{
            background-color: $couleur-primaire;
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: 1.5rem;
            color: $couleur-font-claire;
            font-weight: $font-regular;
        }
        &--icone{
            color: $fond-fonce;
            font-size: 120%;
        }
        &--push-left{
            display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        right: 30px;
            & >*{
            margin-right: 10%;
            }
        }
        &:hover{
            background-color: transparentize($couleur-primaire, 0.8);
        }
    }
}

.push-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 30px;
    & >*{
        margin-right: 10%;
    }
}

/* fin du code de la section fontionnement*/

.accueil-main{
    margin-left: 3%;
    margin-right: 3%;
}

.carte{
    @include flex-vertical;
    justify-content: space-between;
    height: 100%;
    border-radius: 18px;
    margin-bottom: 3em;
    background-color: $fond-clair;
    overflow: auto;
    transition: all 0.3s;
    @include card-shadow;
    @include slide-in-bottom;
    &__photo{
        margin-left: 0;
        border-radius: 18px 18px 0 0;
        height: 160px;
        overflow: hidden;
        @include center-background;
    }
    &__texte{
        margin-left: 1.5%;
        height: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 110%;
        &--float-right{
            float: right;
            position: relative;
            right: 20px;
            font-size: 120%;
        }
        &--bold{
            font-weight: $font-bold;
        }
        &--regular{
            margin-top: 10px;
            font-weight: $font-regular;
        }        
    }
}

.footer{
    background-color: $fond-fonce;
    color: $couleur-font-claire;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    &__h2{
        font-family: 'Shrikhand', cursive;
        font-weight: 200;
        font-size: 120%;
    }
    &__liste{
        list-style: none;
        padding-left: 0;
        & li{
        margin-bottom: 10px;
        font-weight: $font-regular;
        display: flex;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
            & i{
                width: 30px;
            }
        }
    }
}

.carte-menu{
    animation: slide-in-bottom 400ms ease-in-out both;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 18px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.24);
    margin-bottom: 15px;
    background-color:$fond-clair;
    overflow: hidden;
    &__texte{
        display: flex;
        flex: 2 2 auto;
        flex-direction: column;
        padding: 15px;
        &:hover + .carte-menu__anim{
            width: 20%;
            @media (min-width:768px) {
                width: 12%;
            }
            & i{
                @include rotation-check;
            }
        }
    }
    &__ligne-basse{
        @include flex-between;
        align-items: center;
        &--regular{
            font-weight: $font-regular;
            width: 0px; /*étrangement, pour que la largeur de --regular s'adapte au contenu avec white-space: nowrap, ça ne marche qu'avec n'importe quelle valeur absolue arbitraire ici*/
            flex: 1 1 auto;
            overflow-x: hidden; /*ici, l'overflow texte est transformé en "..."*/
            text-overflow: ellipsis;
            white-space: nowrap;
            @media (max-width: 768px){
                font-size: 90%;
            }
        }
        &--prix{
            align-self: flex-end; /*positionne le prix en bas de son conteneur*/
        }
    }
    & h3{
        font-size: medium;
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__anim{
        width: 0%;
        background-color: $couleur-tertiaire;
        color: $couleur-font-claire;
        transition: all 400ms ease-in-out;
        vertical-align: middle;
        & i {
            transform: translate(-50%,-50%) rotate(0deg);
            position: relative;
            top: 50%;
            left: 50px;
            border: 6px solid $couleur-font-claire;
            background-color: $couleur-font-claire;
            color: $couleur-tertiaire;
            border-radius: 50%;
            transition: all 400ms ease-in-out;
        }
        &:hover{
            width:20%;
            @media (min-width:768px) {
                width: 12%;
            }
            & i{
                @include rotation-check;
            }
        }
    }
}



.animation-delay1{
    animation-delay: 150ms; /* des classes pour ajouter un délai de déclenchement d'animation de fade-in/slide-in */ 
}
.animation-delay2{
    animation-delay: 300ms;
}

.animation-delay3{
    animation-delay: 750ms;
}

.menu-main{
    border-radius: 34px 34px 0 0;
    padding-left: 3%;
    padding-right: 3%;
    background-color:$fond-medium;
    position:relative;
    bottom: 60px;
    height: fit-content;
    &__titre{
        font-family: 'Shrikhand', cursive;
        font-weight: $font-regular;
        @include flex-between;
        padding-top: 40px;
        font-size: 180%;
        & .fa-heart{
            margin-right: 20px;
        }
    }
    &__sous-titre{
        font-size: medium;
        font-weight: $font-regular;
        margin-bottom: 4px;
        margin-top: 1.5em;
    }
    &__spacer{
        height: 2px;
        width: 40px;
        background-color:$couleur-tertiaire;
        margin: 0;
    }
    &__liste{
        padding-left:0;
    }
    &__button{
        @include button;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}